$bg-colorBlue: #6200ff;
$bg-colorRed: #ed795a;
$font-color: yellow;
$font-color-fff: var(--font,#fff);

.login{
  width: 200px;
  height: 200px;
  background: $bg-colorRed;
  color: $font-color-fff;
}
