$bg-colorBlue: #6200ff;
$bg-colorRed: #ed795a;
$font-color: yellow;
$font-color-fff: var(--font,#fff);
//登录
$login-width:var(--loginWidth,400px);
$login-height:var(--loginHeight,400px);
$login-bg-color:var(--loginBgColor,#fff);
$login-bd-radius:var(--loginBgRadius,400px);
